[server]
; address to bind the server
ADDRESS        = 0.0.0.0:8080
; external access to server
HOST           = http://localhost:8080
; root path of the proxy
ROOT           = ./
; path to ssl cert
CERT           =
; path to ssl key
KEY            =
; use strict ssl curves
STRICT_CURVES  = false
; use strict ssl ciphers
STRICT_CIPHERS = false

[general]
; root path of stored data
ROOT    = data/
; secret for file encryption
SECRET  =
; users in the form {username}:{password}
USERS   = pc_links:password, pc_rechts:password
; clients in the form {id}:{name}
; name has to match with user name
CLIENTS = """1:linker PC, 2:rechter PC"""
; user_client maps a user to a client
; it is given in the form of {username}:{client_id}
USER_CLIENT = pc_links:1, pc_rechts:2
; pagers in the form {id}:{name}
PAGERS = """1:Pager 1, 2:Pager 2, 3:Pager 3, 4:Pager 4"""

[database]
; provider of stored data
PROVIDER = file

[easycall]
; easycall url
URL      = http://localhost:8080/
; easycall user
USER     =
; easycall password
PASSWORD =
; easycall port
PORT     = COM1

[bridge]
; surgery software uses mssql database
; database url
DB_URL      = localhost:1433
; database user
DB_USER     =
; database password
DB_PASSWORD =
; database name
DB_NAME     =
; database polling interval in seconds
POLLING_INTERVAL           = 5
; defines room when to call patient (on enter)
; and when to mark as overdue (on leave)
; letter of the room in surgery software
CALL_ACTION_WZ             = O
; the required position in the queue before pager will be called
; -1 if no specific position is required
CALL_ACTION_QUEUE_POSITION = 3

[log]
; set logging level
LEVEL   = info
; enable colored logging
COLORED = false
; enable pretty logging
PRETTY  = false
